<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysRoleDao">

    <sql id="query">
        <where>
            <if test="name!=null and name!=''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <!-- 获取当前页数据 -->
    <select id="findPageObjects"
            resultType="sysRole">
         select * 
         from sys_roles
         <include refid="query"/>
         limit #{startIndex},#{pageSize}
    </select>
    
    
    <!-- 统计总记录数 resultMap,resultType-->
    <select id="getRowCount"
            resultType="int">
          select count(*) from sys_roles
          <include refid="query"/>
    </select>
    <delete id="deleteObject" parameterType="int">
        delete from sys_roles where id=#{id}
    </delete>
    <!--添加用户-->
    <insert id="insertObject" parameterType="sysRole">
       insert into sys_roles(name,note,createdTime,modifiedTime,createdUser,modifiedUser)
       values(#{name},#{note},now(),now(),#{createdUser},#{modifiedUser})
   </insert>
    <!--修改角色-->
   <update id="updateObject" parameterType="sysRole">
       update sys_roles
       <set>
       <if test="name!=null and name!=''">
           name=#{name},
       </if>
       <if test="note!=null and note!=''">
           note=#{note},
       </if>
       <if test="modifiedUser!null and modifiedUser!=''">
           modifiedUser = #{modifiedUser},
       </if>
           modifiedTime = now()
       </set>
       where id = #{id}
   </update>
</mapper>




